group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget FSharp.Data

    nuget TaskBuilder.fs

    nuget Newtonsoft.Json

    //logging
    nuget Serilog
    nuget Serilog.AspNetCore
    nuget Serilog.Sinks.Console
    nuget Serilog.Sinks.File
    nuget Serilog.Formatting.Compact
    nuget Destructurama.FSharp.NetCore



group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: packages

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget FSharp.Compiler.Tools
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.GitVersion
    nuget GitVersion.CommandLine     